.logoJGI {
    width: 6%;
}

.logoJGI img {
    width: 100%;
}

#links {
  display: flex;
  width: 32%;
  justify-content: space-around;
}

@media (orientation: landscape) {
  .rk-menu {
    flex-direction: row!important;
  }
}

@media (min-width:1200px) {
  .logoJGI {
    width: 5.5%;
  }
}
