.logoJGI {
    width: 4%;
}

.logoJGI img {
    width: 100%;
}

#links {
  display: flex;
  width: 32%;
  justify-content: space-around;
}

@media (orientation: landscape) {
  .rk-menu {
    flex-direction: row!important;
  }
}
