<section id="sectionPortfolio" class="ae-container-fluid ae-container-fluid--inner rk-portfolio ">
  <!-- <div class="animate__animated animate__fadeIn animate__delay-2s ae-masonry ae-masonry-md-2 ae-masonry-xl-4" style="width: 30%;">
    <div *ngFor="let item of _servicio.itemsList.items">

      <a routerLink="/item" class="rk-item ae-masonry__item">
        <img src={{item.image}} alt="">
        <div class="item-meta">
          <h2>{{item.titulo}}</h2>
          <p>{{item.description}}</p>
        </div>
      </a>

    </div>
  </div> -->
  <div class="titles">
    <h1 class="animate__animated animate__fadeIn portfolio__title">{{_DB.description.title}}</h1>
    <h5 class="animate__animated animate__fadeIn portfolio__subtitle">{{_DB.description.subtitle}}</h5>
    <app-myself></app-myself>
  </div>

  <app-presentation></app-presentation>

  <div class="contactame" >
    <a href="#footer" >
        <img src="assets/img/down.svg" alt="down">
    </a>
  </div>
</section>
