#sectionPortfolio {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 5rem; */
}
@media (max-width: 426px) {
    #sectionPortfolio {
        margin-top: 0;
    }
}

#sectionPortfolio .titles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.portfolio__title, .portfolio__subtitle {
    color: white;
    text-align: center;
}

@keyframes cursor {
  0% {
    border-color: rgb(222, 211, 211);
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: rgb(222, 211, 211);
  }
}
@keyframes typing {
  from {
    width: 0%;
  }
}

@media (min-width: 1000px) {
  .portfolio__subtitle {
    overflow: hidden;
    border-right:  4px solid white;
    white-space: nowrap;
    width: 95%;
    animation: typing 3s steps(92),
    cursor 0.75s step-start infinite;
  }
}

.contactame {
    width: 100%;
    text-align: end;
    margin-top: 2rem;
    position: sticky;
    bottom: 3rem;
}

.contactame a img {
    width: 2.5rem;
    z-index: 199;
}

@media ( max-width:375px ) {
    .contactame {
        top: 3rem;
        right: -8.5vw;
    }
}
