  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio " style="width: 100%; margin-top: 3rem; display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
    <!-- <div class="animate__animated animate__fadeIn animate__delay-2s ae-masonry ae-masonry-md-2 ae-masonry-xl-4" style="width: 30%;">
      <div *ngFor="let item of _servicio.itemsList.items">

        <a routerLink="/item" class="rk-item ae-masonry__item">
          <img src={{item.image}} alt="">
          <div class="item-meta">
            <h2>{{item.titulo}}</h2>
            <p>{{item.description}}</p>
          </div>
        </a>

      </div>
    </div> -->

    <h1 class="animate__animated animate__fadeIn portfolio__title">Mid Fullstack Web Developer  &  Designer</h1>
    <h5 class="animate__animated animate__fadeIn portfolio__subtitle">I work to live and I don't live to work, though schedule It is also my entertainment.</h5>
    <app-myself></app-myself>
  </section>
