.projects {
  /* display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  gap: 2rem; */

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h2 {
  margin-bottom: 3rem;
}

