<section class="rk-portfolio-cover  " style="display:flex; align-items: start; color: white;">

  <div class="item-inside__meta projects">

    <div class="project">
      <header>
        <h1 class="animate__animated animate__fadeIn ae-u-bolder  ">UnownsTraductor</h1>
        <a href="https://exodya21.github.io/UnownsTraductor/" target="_blank">
          <img src="assets/img/pc.png"/>
        </a>
        <h2 class="date" >(March 2023)</h2>
      </header>
      <div>
        <video width="100%" height="100%" controls>
          <source src="https://firebasestorage.googleapis.com/v0/b/db-portfolio-angular.appspot.com/o/UnownsTraductor.mp4?alt=media&token=e9c9bde3-9dc8-49c1-bf84-90b565c029d4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet lectus nec eros aliquam hendrerit porttitor a lacus. Etiam vitae eros efficitur, pretium sem vel, tempus dui. Aenean ac lacus id nunc tempor congue. Praesent et mauris lacus. Suspendisse potenti. Sed placerat libero eros, sit amet congue felis lobortis ut. Fusce convallis, orci vitae sagittis dignissim, libero velit pharetra sapien, a rhoncus libero ipsum feugiat odio.</p>
      </div>
    </div>

  </div>

</section>
