<section class="presentation">
    <img [src]="_DB.description.imgDecoration" [alt]="_DB.description.imgDecorationAlt">

    <h3>{{_DB.description.title2}}</h3>
    <p id="description">{{_DB.description.descriptionContent}}</p>

    <div class="box" >
        <div *ngFor="let profesion of _DB.profesions" class="column">
            <div>
              <img [src]="profesion.img" [alt]="profesion.alt">
            </div>
            <h1>{{profesion.profesion}}</h1>
            <p>{{profesion.description}}</p>
            <p style="color:red">Things I enjoy designing:</p>
            <p>{{profesion.enjoy}}</p>
            <p style="color:red">DevTools:</p>
            <ul>
                <li *ngFor="let tool of profesion.tools" >{{tool}}</li>
            </ul>
        </div>
        <!-- <div class="column">
          <div>
            <img src="/assets/img/front-end.png" alt="imgDesigner">
          </div>
          <h1>Designer</h1>
          <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
          <p style="color:red">Things I enjoy designing:</p>
          <p>UX, UI, Web, Apps, Logos</p>
          <p style="color:red">Design Tools:</p>
          <ul>
              <li>Figma</li>
              <li>Webflow</li>
          </ul>
        </div>
        <div class="column">
          <div>
            <img src="/assets/img/back-end.png" alt="imgDesigner">
          </div>
          <h1>Designer</h1>
          <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
          <p style="color:red">Things I enjoy designing:</p>
          <p>UX, UI, Web, Apps, Logos</p>
          <p style="color:red">Design Tools:</p>
          <ul>
              <li>Figma</li>
              <li>Webflow</li>
          </ul>
        </div> -->
    </div>
</section>
