<section class="presentation">
    <img src="/assets/img/tag.png" alt="TagDecorations">

    <h3>Hi, I'm Jaume. Nice to meet you.</h3>
    <p id="description">I always work looking to improve myself and with a high quality standard. I divide and identify each problem or situation, understanding its parts to finally arrive at the appropriate answer. I am committed to my goals and act responsibly and coherently with them. I take my share of the blame when work doesn't go ahead. I have the ability to work efficiently without constant supervision and I also plan, encourage, help and cooperate so that my team can do their best based on my vision.
    </p>

    <div class="box" >
        <div class="column">
            <div>
              <img src="/assets/img/designer.png" alt="imgDesigner">
            </div>
            <h1>Designer</h1>
            <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
            <p style="color:red">Things I enjoy designing:</p>
            <p>UX, UI, Web, Apps, Logos</p>
            <p style="color:red">Design Tools:</p>
            <ul>
                <li>Figma</li>
                <li>Webflow</li>
            </ul>
        </div>
        <div class="column">
          <div>
            <img src="/assets/img/front-end.png" alt="imgDesigner">
          </div>
          <h1>Designer</h1>
          <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
          <p style="color:red">Things I enjoy designing:</p>
          <p>UX, UI, Web, Apps, Logos</p>
          <p style="color:red">Design Tools:</p>
          <ul>
              <li>Figma</li>
              <li>Webflow</li>
          </ul>
        </div>
        <div class="column">
          <div>
            <img src="/assets/img/back-end.png" alt="imgDesigner">
          </div>
          <h1>Designer</h1>
          <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
          <p style="color:red">Things I enjoy designing:</p>
          <p>UX, UI, Web, Apps, Logos</p>
          <p style="color:red">Design Tools:</p>
          <ul>
              <li>Figma</li>
              <li>Webflow</li>
          </ul>
      </div>
    </div>
</section>
